* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.main-header {
  border: 1px solid black;
  background-color: #564256;
  color: white;
  padding: 1rem 2rem;
}

.card-wrapper {
  border: 1px solid gray;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfbfbf;
}

.card {
  border: 1px solid black;
  border-radius: 0.3em;
  background-color: #e8e8e8;
  margin: 2rem;
}

.card-title {
  font-size: 2rem;
  background-color: #96939b;
  color: white;
  padding: 1rem 2rem;
  border-bottom: 1px black;
}

.card-body-category {
  padding: 0.3em 0.5em;
}

.btn {
  border: none;
  padding: 0.3rem 0.5rem;
  color: white;
  background-color: #fc814a;
  border-radius: 0.3em;
  margin: 0.3rem;
}

.btn-complete {
  background-color: #2e933c;
}

.btn-delete {
  background-color: rgb(175, 30, 30);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  border-top: 1px solid #564256;
  padding: 0.5rem 1rem;
}
